<h1 class='page-header'>Leaderboard</h1>

<div class="container">        
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Score</th>
        <th>Games Played</th>
      </tr>
    </thead>
    <tbody>
    	<% @users.each_with_index do |user, index| %>
    		<tr>
    			<td><%= index+1 %></td>
    			<td><%= user.just_name %></td>
		        <td><%= user.ranking %></td>
		        <td><%= user.games_played.count %></td>
		    </tr>
    	<% end %>
    </tbody>
  </table>
</div>